@import "tailwindcss";

@theme {
  /* Example of how to use this theme with the new Tailwind V4 */

  /* Fonts 
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Roboto', sans-serif;
  */

  /* Colors 
  --color-primary: oklch(0.7 0.15 240);   This is new - tokens
  --color-primary: #3b82f6;  But can also still use hex 
  */
  --color-primary: #3b82f6;

  /* Spacings 
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  */
}

body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
